.footer{
 background-color: #717CFF;

}
.footer__block{
  display: flex;
  padding-top: 70px;
  gap: 106px;
}

address{
font-weight: 500;
font-size: 18px;
line-height: 178%;
color: #eee;
padding-top: 26px;
}
.footer__text{
  font-weight: 700;
  font-size: 18px;
  line-height: 178%;
  color: #eee;
  padding-top: 58px;
  padding-bottom: 45px;
}
.footer__link{
font-weight: 500;
font-size: 18px;
line-height: 272%;
color: #eee;
}
.social__icons{
  display: flex;
  padding-top: 235px;
  gap: 28px;
  padding-left: 152px;
}