.hero__block{
  padding-top: 123px;
  display: flex;
  justify-content: space-between;
}
.hero__content{
  width: 632px;
}
.hero__title{
  font-weight: 900;
  font-size: 56px;
  color: #2f2f2f;
  padding-bottom: 15px;
}
span{
  color:  #717CFF;
}
.hero__text{
font-weight: 500;
font-size: 22px;
line-height: 173%;
color: #7d7d7d;
padding-bottom: 42px;
}
.hero_btn{
  padding: 12px 19px 12px 34px;
  font-weight: 500;
  font-size: 22px;
  line-height: 182%;
 color:white;
 border-radius: 11px;
height: 64px;
background-color: #717CFF;
}